.title-text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 700;
}

.primary-text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 600;
}

.secondary-text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 500;
}

.simple-text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: 400;
}

.font-xs {
  font-size: 1rem;
}

.font-sm {
  font-size: 1.1rem;
}

.font-md {
  font-size: 1.2rem;
}

.font-lg {
  font-size: 1.3rem;
}

.font-xl {
  font-size: 1.4rem;
}

.font-xxl {
  font-size: 1.5rem;
}